<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>meterID</key>
	<dict/>
	<key>email</key>
	<string>1115824104@qq.com</string>
	<key>token</key>
	<string>01ea2eb2d80a41919872d00b41850194</string>
	<key>userId</key>
	<integer>41</integer>
</dict>
</plist>
